[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
psycopg2 = "*"
django-filter = "*"
django-crispy-forms = "*"
django-rest-knox = "*"
xlrd = "*"
pyexcel-xls = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.7"
